/*header*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 5rem;
    align-items: center;
}

header .logo{
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;

}

.topnav{
    display: flex;
    gap: 30px;
    list-style: none;
    overflow: hidden;
    margin-right: 6%;
}

.topnav li{
    text-decoration: none;
}

.topnav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 14px 16px;
}

.topnav a:hover{
    border-bottom: 10px solid turquoise;
}

.topnav a.active{
    text-decoration: underline;
    text-underline-offset: 5px;

}

.hero{

    background-color: #f4f4f4;
    line-height: 30px;
    padding: 50px 30px;
}

.hero h1{
    margin-bottom: 2rem;
}


